<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" 
    href="{{ url_for('static',filename='css/profil.css')}}"
    />

</head>
<body>
    <h1>Halo, ini adalah halaman profilku!</h1>
    <p><strong>Nama:</strong> {{ nama }}</p>
    <p><strong>Hobi:</strong> {{ hobi }}</p>
    <p><strong>Sekolah:</strong> {{ sekolah }}</p>


    <a href="/">Kembali ke Home</a>

    
</body>
</html>