<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" 
    href="{{ url_for('static',filename='css/profil.css')}}"
    />

</head>
<body>
    <h1>halaman profil</h1>
    <p>I am sumanto</p>

    <div class="foto-profil">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbZn6afB1nB0B4rifpglRfL6G4beXzWNE5eA&s" alt="Foto Profil" />   
    </div>



    <a href="/">Kembali ke Home</a>

    
</body>
</html>