
#lampu-ajaib {
 width: 200px;
 padding: 40px;
 margin: 20px;
 text-align: center;
 font-size: 1.5em;
 font-weight: bold;
 border: 2px solid black;
 border-radius: 10px;
 /* Gaya awal saat 'mati' */
 background-color: #444;
 color: white;
 align-items: center;
}

h1{

    color: brown;
    text-align: center;
    padding: 10px;
    
}





